/*A part */
.page-id-25 {
  .entry-header {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url($path__bkg-banner-about);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }

  .entry-content {
    // padding-left: $base__indent-unit *2.2;
    // padding-right: $base__indent-unit *2.2;
    width: 1120px;
    margin-right: auto;
    margin-left: auto;

    h2{
      display:flex;
      justify-content: center;
      font-family: 'Novecento-bold';
      font-size: $base__space-unit *1.5;
      
    }
  }

  .entry-title {
    font-size: $base__space-unit * 2.5;
    font-family: 'Novecento-bold';

  }

  
}
